@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #1e2367;
    overflow: hidden;
}

.background span {
    width: 16vmin;
    height: 16vmin;
    border-radius: 16vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 28;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #6926df;
    top: 99%;
    left: 54%;
    animation-duration: 84s;
    animation-delay: -78s;
    transform-origin: 14vw -12vh;
    box-shadow: 32vmin 0 4.479746579010641vmin currentColor;
}
.background span:nth-child(1) {
    color: #0a9421;
    top: 32%;
    left: 51%;
    animation-duration: 35s;
    animation-delay: -167s;
    transform-origin: 8vw -8vh;
    box-shadow: -32vmin 0 4.587147996236734vmin currentColor;
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 29%;
    left: 1%;
    animation-duration: 16s;
    animation-delay: -148s;
    transform-origin: 21vw 21vh;
    box-shadow: -32vmin 0 4.749294608428848vmin currentColor;
}
.background span:nth-child(3) {
    color: #0a9421;
    top: 20%;
    left: 74%;
    animation-duration: 105s;
    animation-delay: -215s;
    transform-origin: -20vw 13vh;
    box-shadow: -32vmin 0 4.399931035997987vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 30%;
    left: 50%;
    animation-duration: 132s;
    animation-delay: -22s;
    transform-origin: 12vw -15vh;
    box-shadow: 32vmin 0 4.536679506388338vmin currentColor;
}
.background span:nth-child(5) {
    color: #6926df;
    top: 72%;
    left: 77%;
    animation-duration: 195s;
    animation-delay: -93s;
    transform-origin: -8vw -15vh;
    box-shadow: 32vmin 0 4.379055512900724vmin currentColor;
}
.background span:nth-child(6) {
    color: #0a9421;
    top: 89%;
    left: 78%;
    animation-duration: 172s;
    animation-delay: -18s;
    transform-origin: 9vw 23vh;
    box-shadow: -32vmin 0 4.13313549498513vmin currentColor;
}
.background span:nth-child(7) {
    color: #6926df;
    top: 50%;
    left: 52%;
    animation-duration: 28s;
    animation-delay: -30s;
    transform-origin: 12vw -11vh;
    box-shadow: 32vmin 0 4.529843389355099vmin currentColor;
}
.background span:nth-child(8) {
    color: #0a9421;
    top: 26%;
    left: 48%;
    animation-duration: 156s;
    animation-delay: -173s;
    transform-origin: -15vw 6vh;
    box-shadow: 32vmin 0 4.324155449740936vmin currentColor;
}
.background span:nth-child(9) {
    color: #6926df;
    top: 86%;
    left: 100%;
    animation-duration: 138s;
    animation-delay: -59s;
    transform-origin: 12vw 8vh;
    box-shadow: -32vmin 0 4.905088183279153vmin currentColor;
}
.background span:nth-child(10) {
    color: #0a9421;
    top: 4%;
    left: 39%;
    animation-duration: 141s;
    animation-delay: -190s;
    transform-origin: 14vw -8vh;
    box-shadow: -32vmin 0 4.518569597109908vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 34%;
    left: 99%;
    animation-duration: 26s;
    animation-delay: -174s;
    transform-origin: -2vw -1vh;
    box-shadow: 32vmin 0 4.901628958118398vmin currentColor;
}
.background span:nth-child(12) {
    color: #6926df;
    top: 33%;
    left: 48%;
    animation-duration: 32s;
    animation-delay: -98s;
    transform-origin: 22vw 16vh;
    box-shadow: -32vmin 0 4.194584735714104vmin currentColor;
}
.background span:nth-child(13) {
    color: #0a9421;
    top: 40%;
    left: 67%;
    animation-duration: 164s;
    animation-delay: -31s;
    transform-origin: -13vw -23vh;
    box-shadow: 32vmin 0 4.502988307788082vmin currentColor;
}
.background span:nth-child(14) {
    color: #6926df;
    top: 61%;
    left: 4%;
    animation-duration: 157s;
    animation-delay: -136s;
    transform-origin: 17vw 1vh;
    box-shadow: 32vmin 0 4.195173427522806vmin currentColor;
}
.background span:nth-child(15) {
    color: #0a9421;
    top: 52%;
    left: 43%;
    animation-duration: 61s;
    animation-delay: -197s;
    transform-origin: -22vw 14vh;
    box-shadow: 32vmin 0 4.800956252421037vmin currentColor;
}
.background span:nth-child(16) {
    color: #6926df;
    top: 75%;
    left: 84%;
    animation-duration: 102s;
    animation-delay: -216s;
    transform-origin: 4vw 16vh;
    box-shadow: 32vmin 0 4.044047627915717vmin currentColor;
}
