.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  max-width: 1400px;
}
@media (min-width: 375px) {
  .cards {
    padding: 2rem;
  }
}
@media (min-width: 768px) {
  .cards {
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .cards {
    gap: 2.5rem;
  }
}
