.container {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background: linear-gradient(to right, #004d40, #00796b);
    box-shadow: 3px 3px 5px #bdbdbd;
}
.container:hover {
    box-shadow: 3px 3px 10px #bdbdbd;
    cursor: pointer;
}
.container:hover .image {
    filter: drop-shadow(2px 2px 5px #212121);
    animation: imageup 1s;
}
.container:hover .title {
    text-decoration: underline;
}
.image {
    height: 50px;
    width: 50px;
}

.title {
    font-size: 1rem;
}

@media (min-width: 576px) {
    .container {
        width: 230px;
        padding: 1.5rem;
    }
    .image {
        height: 60px;
        width: 60px;
    }
    .title {
        font-size: 1.1rem;
    }
}
@media (min-width: 768px) {
    .container {
        width: 300px;
    }
    .image {
        height: 80px;
        width: 80px;
    }
}
@media (min-width: 992px) {
    .container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
    }
    .image {
        height: 130px;
        width: 130px;
    }
    .title {
        font-size: 1.2rem;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 450px;
        padding: 2rem;
    }
    .image {
        height: 150px;
        width: 150px;
    }
    .title {
        font-size: 1.4rem;
    }
}
@media (min-width: 1400px) {
    .container {
        width: 500px;
        padding: 3rem 2rem;
    }
    .image {
        height: 180px;
        width: 180px;
    }
    .title {
        font-size: 1.5rem;
    }
}

@keyframes imageup {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}